<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Elementary</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
<!-- homepage scripts -->
<script src="scripts/jquery.1.5.1.min.js"></script>
<script src="scripts/slides.min.jquery.js"></script>
<script>
$(function () {
    $('#slides').slides({
        preload: true,
        preloadImage: 'images/slider/loading.gif',
        play: 5000,
        pause: 2500,
        hoverPause: true
    });
});
</script>
<!-- / homepage scripts -->
</head>
<body id="top">
<div class="wrapper row0">
  <header id="topbar" class="clear">
    <time datetime="2000-04-06">Friday, 6<sup>th</sup> April 2000</time>
    <form action="#" method="post">
      <fieldset>
        <legend>Search:</legend>
        <input type="text" value="Search Our Website&hellip;" onFocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
        <input type="image" id="search" src="images/search.gif" alt="Search">
      </fieldset>
    </form>
  </header>
</div>
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>
      <h1><a href="#">Elementary</a></h1>
      <h2>Free HTML5 Website Template</h2>
    </hgroup>
    <nav>
      <ul>
        <li class="last"><a href="#">Link Text</a><span>Test Text Here</span></li>
        <li><a href="#">Link Text</a><span>Test Text Here</span></li>
        <li><a href="#">DropDown</a><span>Test Text Here</span>
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li><a href="full-width.html">Full Width</a><span>Test Text Here</span></li>
        <li><a href="style-demo.html">Style Demo</a><span>Test Text Here</span></li>
        <li class="active"><a href="index.html">Homepage</a><span>Test Text Here</span></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="slides">
      <div id="controls">
        <!-- Controls -->
        <a href="#" class="prev"><img src="images/slider/arrow-prev.png" alt="Previous"></a> <a href="#" class="next"><img src="images/slider/arrow-next.png" alt="Next"></a>
        <!-- Frame -->
        <img src="images/slider/frame.png" alt="" id="frame">
        <!-- / Frame -->
        <div class="slidescontainer">
          <figure class="slide"><a href="#"><img src="images/demo/940x360.gif" width="940" height="360" alt=""></a>
            <figcaption class="caption">
              <h2>Slide 1 Caption</h2>
              <p>Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem pellus sed mauris enim.</p>
            </figcaption>
          </figure>
          <figure class="slide"><a href="#"><img src="images/demo/940x360.gif" width="940" height="360" alt=""></a>
            <figcaption class="caption">
              <h2>Slide 2 Caption</h2>
              <p>Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem pellus sed mauris enim.</p>
            </figcaption>
          </figure>
          <figure class="slide"><a href="#"><img src="images/demo/940x360.gif" width="940" height="360" alt=""></a>
            <figcaption class="caption">
              <h2>Slide 3 Caption</h2>
              <p>Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem pellus sed mauris enim.</p>
            </figcaption>
          </figure>
          <figure class="slide"><a href="#"><img src="images/demo/940x360.gif" width="940" height="360" alt=""></a>
            <figcaption class="caption">
              <h2>Slide 4 Caption</h2>
              <p>Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem pellus sed mauris enim.</p>
            </figcaption>
          </figure>
          <figure class="slide"><a href="#"><img src="images/demo/940x360.gif" width="940" height="360" alt=""></a>
            <figcaption class="caption">
              <h2>Slide 5 Caption</h2>
              <p>Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem pellus sed mauris enim.</p>
            </figcaption>
          </figure>
          <figure class="slide"><a href="#"><img src="images/demo/940x360.gif" width="940" height="360" alt=""></a>
            <figcaption class="caption">
              <h2>Slide 6 Caption</h2>
              <p>Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem pellus sed mauris enim.</p>
            </figcaption>
          </figure>
          <!-- / Slide Container -->
        </div>
        <!-- / Controls -->
      </div>
    </section>
    <!-- Services area -->
    <section class="services clear">
      <article>
        <figure><img src="images/demo/32x32.gif" width="32" height="32" alt=""></figure>
        <strong>Lorum ipsum dolor</strong>
        <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. For full terms of use of this template please read our <a href="http://www.os-templates.com/template-terms">website template licence</a>.</p>
        <p class="more"><a href="#">Read More &raquo;</a></p>
      </article>
      <article>
        <figure><img src="images/demo/32x32.gif" width="32" height="32" alt=""></figure>
        <strong>Lorum ipsum dolor</strong>
        <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.</p>
        <p class="more"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="last">
        <figure><img src="images/demo/32x32.gif" width="32" height="32" alt=""></figure>
        <strong>Lorum ipsum dolor</strong>
        <p>For more HTML5 templates visit <a href="http://www.os-templates.com/">free website templates</a>. Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum.</p>
        <p class="more"><a href="#">Read More &raquo;</a></p>
      </article>
      <div class="spacer"></div>
      <article>
        <figure><img src="images/demo/32x32.gif" width="32" height="32" alt=""></figure>
        <strong>Lorum ipsum dolor</strong>
        <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
        <p class="more"><a href="#">Read More &raquo;</a></p>
      </article>
      <article>
        <figure><img src="images/demo/32x32.gif" width="32" height="32" alt=""></figure>
        <strong>Lorum ipsum dolor</strong>
        <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
        <p class="more"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="last">
        <figure><img src="images/demo/32x32.gif" width="32" height="32" alt=""></figure>
        <strong>Lorum ipsum dolor</strong>
        <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
        <p class="more"><a href="#">Read More &raquo;</a></p>
      </article>
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>
